// HERES WHERE U EDIT THE SITE CSS

$high-emph: rgba(white, 0.87);
$med-emph: rgba(white, 0.69);
$low-emph: rgba(white, 0.38);
$dark-grey : #121212;

$neutralBackground: #292929;
$neutralBackgroundHover: #3d3d3d;
$neutralBackgroundPressed: #383838;
$neutralBackgroundSelected: #383838;

// $dark-grey : #1F1B24;
$overlay: mix($dark-grey, white, 95%);
$overlay-light: mix($dark-grey, white, 86%);

//body and background stuff
html,
body,
input,
textarea,
select,
button {
    color: $high-emph !important;
    background-color: $dark-grey !important;
}

//button

.buttonLarge {
    background-color: $neutralBackground !important;
    padding: 1.5em 1.5em;
    border: none;
    border-radius: .5rem !important;
    color: black;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    outline: none;
    cursor: pointer;
}

.buttonNormal {
    background-color: $neutralBackground !important;
    padding: 0.5em 0.5em;
    border: none;
    border-radius: .5rem !important;
    color: black;
    font-size: 1rem;
    text-align: center;
    outline: none;
    cursor: pointer;
}

.buttonNormalDark {
    background-color: $dark-grey !important;
    padding: 0.5em 0.5em;
    border: none;
    border-radius: .5rem !important;
    color: black;
    font-size: 1rem;
    text-align: center;
    outline: none;
    cursor: pointer;
}

//input fields
input {
    background-color: $neutralBackground !important;
    padding: 0.5em 0.5em;
    border: none;
    border-radius: .5rem !important;
    color: black;
    font-size: 1rem;
    font-weight: 700;
    outline: none;
}

//card
.card {
    background-color: #292929;
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
    padding: 1.5rem 1.5rem;
}

button:hover {
    background-color: $neutralBackgroundHover !important;
}

a {
    color: rgb(75, 186, 255) !important;
}

a:hover {
    color: $high-emph !important;
}

.site-title,
.site-title:visited,
.site-nav,
.page-link {
    color: $high-emph !important;
}

.site-nav {
    background-color: $dark-grey;
    border-color: $overlay-light;
}

* {
    scrollbar-color: $dark-grey $overlay-light;
}

pre,
code {
    // BVas a lighter colour to better highlight short code words
    border-color: $overlay-light;
    background-color: $overlay;
}

.page-description {
    color: $med-emph;
}

.post-meta {
    color: $low-emph;
}

.post-content p,
.post-content li {
    color: $med-emph;
}

.btn {
    background-color: $overlay !important;
    color: $high-emph !important;
    border-color: $overlay-light !important;
}

.btn:hover {
    background-color: $dark-grey !important;
}

table th {
    background-color: $overlay;
    border-color: $overlay-light;
    color: $high-emph;
}

table td {
    background-color: $dark-grey;
    border-color: $overlay-light;
    color: $med-emph;
}

.flash {
    color: $dark-grey !important;
    filter: brightness(80%);
}

canvas {
    filter: invert(100%);
}

.post-list>li>div {
    box-shadow: none !important;
    background-color: $overlay;
    border: none !important;
}

li .post-meta-description {
    color: $med-emph !important;
}

.search-result-preview {
    color: lightgray !important;
}

.search-result-highlight {
    color: yellow !important;
    font-weight: bold !important;
}

.search-results-list-item .search-result-title {
    color: cornflowerblue !important;
}

// glow effect
.glow-on-hover {
    //this makes it actually glow
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

//animation stuff
.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}